<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <span class="navbar-brand" href="#/">
                <span class="fa fa-camera"></span>
                panorama server
            </span>
        </div>

        <div class="nav navbar-nav">
            <li><a href="#/">panoramas</a></li>
            <li><a href="#/crawls">crawls</a></li>
            <li class="active"><a href="#/api">api</a></li>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 50px">
    <api-docs url="url"></api-docs>
</div>