<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <span class="navbar-brand">
                <span class="fa fa-camera"></span>
                panorama server
            </span>
        </div>

        <div class="nav navbar-nav">
            <li><a href="#/">panoramas</a></li>
            <li class="active"><a href="#/crawls">crawls</a></li>
            <li><a href="#/api">api</a></li>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 70px">

    <div class="col-sm-12" ng-show="crawlState=='missing'">
        <div class="alert alert-info" role="alert">
            <a class="pull-right" ng-click="startCrawl()">Start a new crawl</a>
            There is no currently active crawl.
        </div>
    </div>

    <div class="col-sm-12" ng-show="crawl.completedAt">
        <div class="alert alert-success" role="alert">
            <a class="pull-right" ng-click="startCrawl()">Start a new crawl</a>
            The crawl is complete.
        </div>
    </div>

    <div class="col-sm-12" ng-show="crawl">

        <p class="pull-right">
            <strong>{{crawl.currentSteps}}</strong> of <strong>{{crawl.maxSteps}}</strong> steps
        </p>

        <ul class="list-inline">
            <li class="text-success"><strong>{{size(crawl.completed)}}</strong> completed</li>
            <li class="text-warning"><strong>{{size(crawl.working)}}</strong> in progress</li>
            <li class="text-danger"><strong>{{size(crawl.aborted)}}</strong> aborted</li>
            <li class="text-muted"><strong>{{size(crawl.pending)}}</strong> pending</li>
        </ul>
    </div>

    <div class="row" ng-show="panorama || crawl">
        <div class="col-sm-12">
            <div style="width: 100% ; height: 300px ; margin: 20px 0px">
                <map id="crawlMap" center="{{crawl.seed.latitude}},{{crawl.seed.longitude}}" zoom="12" style="height:100%">

                    <custom-marker ng-repeat="c in crawl.completed" position="{{c.latitude}},{{c.longitude}}">
                        <img style='width:20px; height: 20px' src="img/camera-success.svg" />
                    </custom-marker>

                    <custom-marker ng-repeat="c in crawl.aborted" position="{{c.latitude}},{{c.longitude}}">
                        <img style='width:20px; height: 20px' src="img/camera-danger.svg" />
                    </custom-marker>

                    <custom-marker ng-repeat="c in crawl.working" position="{{c.latitude}},{{c.longitude}}">
                        <img style='width:20px; height: 20px' src="img/camera-warning.svg" />
                    </custom-marker>

                    <custom-marker ng-repeat="c in crawl.pending" position="{{c.latitude}},{{c.longitude}}">
                        <img style='width:20px; height: 20px' src="img/camera-muted.svg" />
                    </custom-marker>
                </map>
            </div>
        </div>
    </div>

</div>