<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <span class="navbar-brand">
                <span class="fa fa-camera"></span>
                panorama server
            </span>
        </div>

        <div class="nav navbar-nav">
            <li class="active"><a href="#/">panoramas</a></li>
            <li><a href="#/crawls">crawls</a></li>
            <li><a href="#/api">api</a></li>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 70px">

    <div class="row form-horizontal">

        <div class="col-sm-8">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-model='query' class="form-control" placeholder="panorama id or streetview url">
                    <span class="input-group-btn">
                        <button ng-click='search()' class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-4 text-right">
            <div class="form-group">
                <label class="control-label">
                    Image size
                    <span uib-tooltip="The size of the images to retrieve (bigger is slower)">
                        <i class="fa fa-question-circle"></i>
                    </span>
                </label>
                <div class="btn-group" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                        {{zoom}} <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a ng-click="zoom = 1">1</a></li>
                        <li role="menuitem"><a ng-click="zoom = 2">2</a></li>
                        <li role="menuitem"><a ng-click="zoom = 3">3</a></li>
                        <li role="menuitem"><a ng-click="zoom = 4">4</a></li>
                        <li role="menuitem"><a ng-click="zoom = 5">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="panorama">
        <div class="col-sm-12">

            <p class="pull-right">

                <span ng-if="imageJob" class="text-warning">
                    caching {{imageJob.progress*100 | number:0}}%
                </span>

                <span ng-if="!imageJob" ng-switch="panorama.imageDetails.state">

                    <span ng-switch-when="ready" class="text-success">
                        cached
                        <a ng-click="showImages()">view</a>
                    </span>

                    <span ng-switch-when="missing" class="text-muted">
                        uncached
                        <a ng-click="cacheImages()">try</a>
                    </span>

                    <span ng-switch-when="failed" class="text-danger">
                        failed
                        <a ng-click="cacheImages()">retry</a>
                    </span>
                </span>
            </p>


            <i class="fa fa-map-marker"></i>
            ({{panorama.latitude}}, {{panorama.longitude}})

            <span class="text-muted" ng-show="panorama.description">{{panorama.description}}</span>
            <span class="text-muted" ng-hide="panorama.description">No description available</span>
        </div>
    </div>


    <div class="row" ng-show="panorama">
        <div class="col-sm-12">
            <div style="margin: 20px 0px ; height:400px">
                <map zoom="20" id="panoramaMap">
                </map>
            </div>
        </div>
    </div>

    {{panorama}}

</div>