
    <div class="modal-header">

        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>Start a crawl</strong>
    </div>
    <div class="modal-body">
        
        <div class="input-group">
            <input type="text" ng-model='query' class="form-control" placeholder="panorama id or streetview url">
            <span class="input-group-btn">
                <button ng-click='search()' class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>

        <div style="margin: 20px 0px" ng-show="panorama">
            <map id="newCrawlMap" zoom="12" style="height:200px">
                <marker position="{{panorama.latitude}},{{panorama.longitude}}"></marker>
            </map>
        </div>

        <form class="form-horizontal" ng-show="panorama">
            <div class="form-group">
                <label class="col-sm-7 control-label">
                    Image size
                    <span uib-tooltip="The size of the images to retrieve (bigger is slower)">
                        <i class="fa fa-question-circle"></i>
                    </span>
                </label>
                <div class="col-sm-5">
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{zoom}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a ng-click="zoom = 1">1</a></li>
                            <li role="menuitem"><a ng-click="zoom = 2">2</a></li>
                            <li role="menuitem"><a ng-click="zoom = 3">3</a></li>
                            <li role="menuitem"><a ng-click="zoom = 4">4</a></li>
                            <li role="menuitem"><a ng-click="zoom = 5">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-7 control-label">
                    Maximum steps

                    <span uib-tooltip="The maximum number of jumps to extend out from the starting point (in any direction)">
                        <i class="fa fa-question-circle"></i>
                    </span>
                </label>
                <div class="col-sm-5">
                    <input type="number" ng-model="maxSteps" class="form-control"/>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer text-right">
        <button ng-disabled="!panorama" type="button" class="btn btn-success" ng-click="startCrawl()">
            Start Crawl
        </button>
    </div>