
<div class="modal-header">

    <button type="button" class="close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>

    <i class="fa fa-map-marker"></i>
    ({{panorama.latitude}}, {{panorama.longitude}})

    <span class="text-muted" ng-show="panorama.description">{{panorama.description}}</span>
    <span class="text-muted" ng-hide="panorama.description">No description available</span>

    &nbsp;

    <span uib-dropdown>
      <a href id="simple-dropdown" uib-dropdown-toggle>
          {{imageType.name}} <span class="caret"></span>
      </a>
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li ng-repeat="it in imageTypes">
              <a ng-click="setImageType(it)">{{it.name}}</a>
          </li>
      </ul>
    </span>

</div>
<div class="modal-body">

    <img ng-src="{{imageUrl}}" style="width: 100%"/>
</div>


